.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: goldenrod;
    padding: 10px;
}

.header-menu a {
    text-decoration: none;
    color: white;
    margin-right: 24px;
    font-size: 20px;
    font-weight: bold;
}

.header-menu a:hover {
    color: black;
}